<table class="pure-table pure-table-bordered" width="100%">
  <tbody>
    {% if summary %}
      <tr>
        <td valign="top">
          {{ mail.email_date|date:'d/m/Y H:i' }}
        </td>
        <td valign="top">
          <a href="mailto:{{ mail.from_email }}">{{ mail.from_email }}</a>
          <small>
            <br>
            {{ mail.to_email }}
          </small>
        </td>
        <td valign="top">
          <a href="{% url 'googl.mail.detail' mail.pk %}?next={{ request.path }}">
            {{ mail.subject }}
          </a>
          <small>
            <br>
            {{ mail.message|truncatewords:27 }}
          </small>
        </td>
      </tr>
    {% else %}
      <tr>
        <td valign="top">
          From
        </td>
        <td valign="top">
          <a href="mailto:{{ mail.from_email }}">{{ mail.from_email }}</a>
        </td>
      </tr>
      <tr>
        <td valign="top">
          To
        </td>
        <td valign="top">
          <a href="mailto:{{ mail.to_email }}">{{ mail.to_email }}</a>
        </td>
      </tr>
      <tr>
        <td valign="top">
          Date
        </td>
        <td valign="top">
          {{ mail.email_date|date:'d/m/Y H:i' }}
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <strong>
            {{ mail.subject }}
          </strong>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <small>
            {{ mail.message|urlize|linebreaks }}
          </small>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
