<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Google</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'googl.mail.list' %}" class="pure-menu-link">
      <i class="fa fa-envelope-o"></i>
      Imported
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'googl.email.address.to.ignore.list' %}" class="pure-menu-link">
      <i class="fa fa-envelope-o"></i>
      Do Not Import
    </a>
  </div>
</div>
