{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Do not import these email addresses
{% endblock title %}

{% block sub_heading %}
  Do not import these email addresses
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'googl.email.address.to.ignore.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Add
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'googl.mail.list' %}" class="pure-menu-link">
              <i class="fa fa-envelope-o"></i>
              Imported mail
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>email</th>
            <th>Created</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                {% if o.is_deleted %}
                  <del>
                {% endif %}
                {{ o.email }}
                {% if o.is_deleted %}
                  </del>
                {% endif %}
              </td>
              <td>
                {% if o.is_deleted %}
                  <del>
                {% endif %}
                {{ o.created|date:'d/m/Y H:i' }}
                {% if o.is_deleted %}
                  </del>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'googl.email.address.to.ignore.delete.toggle' o.pk %}">
                  {% if o.is_deleted %}
                    <i class="fa fa-check"></i>
                    Re-instate
                  {% else %}
                    <i class="fa fa-times"></i>
                  {% endif %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

