{% extends "dash/base.html" %}

{% block title %}
  {% if object %}
    Edit {{ object.email }}
  {% else %}
    Create email address to ignore
  {% endif %}
{% endblock title %}

{% block sub_heading %}
  {% if object %}
    Edit {{ object.email }}
  {% else %}
    Create email address to ignore
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'googl.email.address.to.ignore.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
