{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if object.is_deleted %}
    Re-instate {{ object.email }}
  {% else %}
    Delete {{ object.email }}
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  {% if object.is_deleted %}
    Re-instate {{ object.email }}
  {% else %}
    Delete {{ object.email }}
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'googl.email.address.to.ignore.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        {% if object.is_deleted %}
          Are you sure you want to re-instate
          '<strong>{{ object.email }}</strong>'
          to the list of email addresses to ignore?
        {% else %}
          <i class="fa fa-warning"></i>
          Are you sure you want to remove '<strong>{{ object.email }}</strong>'
          from the list of email addresses to ignore?
        {% endif %}
      </p>
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
