{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Google Mail
{% endblock title %}

{% block sub_heading %}
  Google Mail
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'googl.email.address.to.ignore.list' %}" class="pure-menu-link">
              <i class="fa fa-envelope-o"></i>
              Do Not Import
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Date</th>
            <th>From</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                {{ o.email_date|date:'d/m/Y H:i' }}
              </td>
              <td>
                <a href="mailto:{{ o.from_email }}">{{ o.from_email }}</a>
                <small>
                  <br>
                  {{ o.to_email }}
                </small>
              </td>
              <td>
                <a href="{% url 'googl.mail.detail' o.pk %}">
                  {{ o.subject }}
                </a>
                <small>
                  <br>
                  {{ o.message|truncatewords:7 }}
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

