{% extends 'dash/base.html' %}

{% block sub_title %}
  Google Mail Message
{% endblock sub_title %}

{% block sub_heading %}
  Google Mail Message
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'googl.mail.list' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'googl/_google_mail_detail.html' with mail=object %}
    </div>
  </div>
{% endblock %}
